@CHARSET "UTF-8";

/* member_login.jsp ui */
#login_wrap{
	width:380px; 
	height:150px;
	border:1px solid blue; 
	border-radius:10px;
	box-shadow:10px 10px 10px #ccc;
	margin:150px 50px 50px 200px; 
}
#login_t{
	margin:30px  0 0 20px;
}
.input_s{
	width:70px; 
	height:50px; 
	border-radius:8px; 
	font-weight:bold;
	float:right;
	margin-top:0px;
	margin-right:30px;
	background-color:#369;
	border:solid 1px #369;
	color: #FFF;
}
.input_s:hover{
	cursor:hand; cursor:pointer;
}

.input_b{
	border:1px solid blue;
	border-radius:8px;
	font-weight:bold;
	width:76px;
	margin-left:1px;
}
.box{
	border:#336699 3px solid;
	padding:0 5px;
	border-radius:8px;
}

#login_menu{
	margin:20px 0 0 50px; 
	
}

/* member_join.jsp ui */
#join_wrap{
	width:540px; height:430px; border:1px solid blue;
	border-radius:20px; box-shadow:20px 20px 20px #ccc;
	margin-left:auto; margin-right:auto;
	margin-top:100px;
}
#join_wrap .join_title{
	margin:30px 0 0 210px; width:100px; font-size:20px;
	background:pink; text-align:center;
	border-radius:15px;
}
#join_t{
	margin:20px 0 0 25px;
}
#join_menu{
	margin:30px 0 0 200px;
}

/*비번찾기*/
#pwd_wrap{
	width:230px; height:190px; border:1px solid blue;
	border-radius:10px; box-shadow:20px 20px 20px #ccc;
	margin-left:auto; margin-right:auto;
	margin-top:40px;
}
#pwd_wrap .pwd_title{
	margin:20px 0 0 70px; 
	width:90px; 
	font-size:19px;
	background-color:#369;
	border:solid 1px #369;
	color: #FFF; 
	border-radius:10px;
	text-align:center; 
	padding:3px;
}
#pwd_t{
	margin:20px 0 0 10px;
}
#pwd_menu{
	margin:20px 0 0 47px;
}

/* member_del.jsp ui */
#del_wrap{
	width:400px; height:350px; border:1px solid blue;
	border-radius:15px; boz-shadow:20px 20px 20px #ccc;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
}
#del_wrap .del_title{
	margin:20px 0 0 150px; width:100px;
	font-size:20px;
	background:pink; border-radius:15px;
	padding:3px;
	text-aglign:center;
}
#del_t{
	margin:20px 0 0 10px;
}
#del_menu{
	margin:20px 0 0 140px;
}